<div class="row">
  <div class="col-md-4">
    <h3>Product Form</h3>

    <!-- Product Form -->
    <app-product-form></app-product-form>
  </div>

  <div class="col-md-8">
    <h3>Products</h3>

    <!-- Product Detail-->
    <app-product-detail [product]="p" *ngFor="let p of products"></app-product-detail>
  </div>
</div>

<!--
  <input [value]="productName" />
  <app-product-detail [product]="p"></app-product-detail>

  <button (click)="onSubmit($event)"></button>
  <app-product-form (productCreated)="onProductCreated($event)"></app-product-form>
-->







